## AGOA : Exercice 1 
## Create Tables

Tables are created using SQL:

In [1]:
%CREATE agoa.db

In [2]:
CREATE TABLE airlines (
    id VARCHAR(10) PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    iata_code CHAR(2) UNIQUE NOT NULL
);

In [3]:
CREATE TABLE airports (
    id VARCHAR(10) PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    iata_code CHAR(3) UNIQUE NOT NULL,
    city VARCHAR(100) NOT NULL,
    country VARCHAR(100) NOT NULL
);

In [4]:
CREATE TABLE flights (
    id VARCHAR(10) PRIMARY KEY,
    flight_number VARCHAR(10) NOT NULL,
    airline_id INTEGER REFERENCES airlines(id) ,
    departure_airport_id INTEGER REFERENCES airports(id),
    arrival_airport_id INTEGER REFERENCES airports(id),
    scheduled_departure TIMESTAMP WITH TIME ZONE NOT NULL,
    scheduled_arrival TIMESTAMP WITH TIME ZONE NOT NULL,
    actual_departure TIMESTAMP WITH TIME ZONE,
    actual_arrival TIMESTAMP WITH TIME ZONE
);

In [5]:
CREATE TABLE turnarounds (
    id VARCHAR(10) PRIMARY KEY,
    departure_flight_id VARCHAR(10) ,
    arrival_flight_id VARCHAR(10)  

);

## Populate Tables

In [6]:
INSERT INTO airlines (id, name, iata_code) VALUES
    ('AIRL_1', 'Air France', 'AF'),
    ('AIRL_2', 'Lufthansa', 'LH'),
    ('AIRL_3', 'British Airways', 'BA')

In [7]:
INSERT INTO airports (id, name, iata_code, city, country) VALUES
    ('AIRP_1','Paris Charles de Gaulle', 'CDG', 'Paris', 'France'),
    ('AIRP_2','Nice Côte d''Azur', 'NCE', 'Nice', 'France'),
    ('AIRP_3','London Heathrow', 'LHR', 'London', 'United Kingdom'),
    ('AIRP_4','Frankfurt Airport', 'FRA', 'Frankfurt', 'Germany'),
    ('AIRP_5','New York JFK', 'JFK', 'New York', 'United States'),
    ('AIRP_6','Dubai International', 'DXB', 'Dubai', 'United Arab Emirates');
-- Create table Country and City with one id

In [8]:
INSERT INTO flights (
    id, flight_number, airline_id, departure_airport_id, arrival_airport_id,
    scheduled_departure, scheduled_arrival,
    actual_departure, actual_arrival
) VALUES
    -- Air France flights (id: 1)
    ('FLIGHT_1','AF001', 'AIRL_1', 'AIRP_1', 'AIRP_5', '2024-03-20 10:00:00Z', '2024-03-20 18:30:00Z',  -- CDG-JFK ~8.5h
     '2024-03-20 10:15:00Z', '2024-03-20 18:45:00Z'),
    ('FLIGHT_2','AF002', 'AIRL_1', 'AIRP_5', 'AIRP_1', '2024-03-20 20:30:00Z', '2024-03-21 05:00:00Z',  -- JFK-CDG ~8.5h
     '2024-03-20 20:45:00Z', '2024-03-21 05:30:00Z'),
    
    -- Lufthansa flights (id: 2)
    ('FLIGHT_3','LH123', 'AIRL_2', 'AIRP_4', 'AIRP_6', '2024-03-20 09:00:00Z', '2024-03-20 18:00:00Z',  -- FRA-DXB ~9h
     '2024-03-20 09:15:00Z', '2024-03-20 18:15:00Z'),
    ('FLIGHT_4','LH124', 'AIRL_2', 'AIRP_6', 'AIRP_4', '2024-03-20 20:00:00Z', '2024-03-21 05:30:00Z',  -- DXB-FRA ~9.5h
     '2024-03-20 20:15:00Z', '2024-03-21 05:45:00Z'),
    
    -- British Airways flights (id: 3)
    ('FLIGHT_5','BA456', 'AIRL_3', 'AIRP_3', 'AIRP_6', '2024-03-20 08:00:00Z', '2024-03-20 17:30:00Z',  -- LHR-DXB ~9.5h
     '2024-03-20 08:15:00Z', '2024-03-20 17:45:00Z'),
    ('FLIGHT_6','BA457', 'AIRL_3', 'AIRP_6', 'AIRP_3', '2024-03-20 19:30:00Z', '2024-03-21 05:00:00Z',  -- DXB-LHR ~9.5h
     '2024-03-20 19:32:00Z', '2024-03-21 05:35:00Z'),
    ('FLIGHT_7','BA458', 'AIRL_3', 'AIRP_5', 'AIRP_3', '2024-03-20 19:30:00Z', '2024-03-21 05:00:00Z', 
     '2024-03-20 21:00:00Z', '2024-03-21 05:12:00Z'),
    ('FLIGHT_8','BA459', 'AIRL_3', 'AIRP_3', 'AIRP_2', '2024-03-20 19:30:00Z', '2024-03-21 05:00:00Z', 
     '2024-03-20 19:30:00Z', '2024-03-21 05:15:00Z');

--    ABS(julianday(dep_f.scheduled_departure)-julianday(arr_f.scheduled_arrival)) AS turnaround_duration_scheduled, 20h30 - 18h30
--    ABS(julianday(dep_f.actual_departure)-julianday(arr_f.actual_arrival)) AS turnaround_duration_actual

In [9]:
INSERT INTO turnarounds (id,
    departure_flight_id, arrival_flight_id
) VALUES
    -- JFK turnaround (Air France)
    ('TURN_1','FLIGHT_1','FLIGHT_2'),
    
    -- Dubai turnaround (Lufthansa)
    ('TURN_2','FLIGHT_3','FLIGHT_4'),
    
    -- Dubai turnaround (British Airways)
    ('TURN_3','FLIGHT_5','FLIGHT_6'),

    ('TURN_4','FLIGHT_1','FLIGHT_7'),
    ('TURN_5','FLIGHT_7','FLIGHT_8')

## Exercice 2 - Requests

1. Afficher les 5 vols ayant la durée de vol la plus élevée dans l’ordre décroissant ;

In [10]:
SELECT 
    f.flight_number,
    ROUND(
        (julianday(f.scheduled_arrival) - julianday(f.scheduled_departure)) * 24,
        1
    ) AS duration_hours
FROM flights f
ORDER BY duration_hours DESC
LIMIT 5;

+---------------+----------------+
| flight_number | duration_hours |
+---------------+----------------+
| LH124         | 9.5            |
+---------------+----------------+
| BA456         | 9.5            |
+---------------+----------------+
| BA457         | 9.5            |
+---------------+----------------+
| BA458         | 9.5            |
+---------------+----------------+
| BA459         | 9.5            |
+---------------+----------------+

2. Afficher pour tous les turnarounds, leur aéroport de référence ainsi que les aéroports
de départ et d’arrivée associés ;

In [11]:
SELECT 
    t.id as turnaround_id,
    dep2.name as airport_reference,
    dep.name as airport_departure,
    arr.name as airport_arrival
FROM turnarounds t
LEFT JOIN flights dep_f ON t.departure_flight_id = dep_f.id
LEFT JOIN flights arr_f ON t.arrival_flight_id = arr_f.id
LEFT JOIN airports dep ON dep_f.departure_airport_id = dep.id
LEFT JOIN airports arr ON arr_f.arrival_airport_id = arr.id
LEFT JOIN airports dep2 ON dep_f.arrival_airport_id = dep2.id

+---------------+---------------------+-------------------------+-------------------------+
| turnaround_id | airport_reference   | airport_departure       | airport_arrival         |
+---------------+---------------------+-------------------------+-------------------------+
| TURN_1        | New York JFK        | Paris Charles de Gaulle | Paris Charles de Gaulle |
+---------------+---------------------+-------------------------+-------------------------+
| TURN_2        | Dubai International | Frankfurt Airport       | Frankfurt Airport       |
+---------------+---------------------+-------------------------+-------------------------+
| TURN_3        | Dubai International | London Heathrow         | London Heathrow         |
+---------------+---------------------+-------------------------+-------------------------+
| TURN_4        | New York JFK        | Paris Charles de Gaulle | London Heathrow         |
+---------------+---------------------+-------------------------+-------------------------+
| TURN_5        | London Heathrow     | New York JFK            | Nice Côte d'Azur       |
+---------------+---------------------+-------------------------+-------------------------+

3. Afficher les turnarounds dont la compagnie du vol d’arrivée est différente de celle du
vol départ ;

In [12]:
SELECT 
    t.id as turnaround_id,
    dep_f.airline_id as airline_dep,
    arr_f.airline_id as airline_arr
FROM turnarounds t 
LEFT JOIN flights dep_f ON t.departure_flight_id = dep_f.id
LEFT JOIN flights arr_f ON t.arrival_flight_id = arr_f.id
WHERE airline_dep != airline_arr

+---------------+-------------+-------------+
| turnaround_id | airline_dep | airline_arr |
+---------------+-------------+-------------+
| TURN_4        | AIRL_1      | AIRL_3      |
+---------------+-------------+-------------+

4. Afficher la ponctualité de chaque turnaround :
- la différence entre l’heure d’arrivée prévue et actuelle,
- la différence entre l’heure de départ prévue et actuelle,
- La différence entre la durée du turnaround prévue et actuelle ;

In [42]:
SELECT 
    t.id as turnaround_id,
  --  dep_f.scheduled_departure as departure_flight_scheduled_departure,
   -- dep_f.scheduled_arrival as departure_flight_scheduled_arrival,
   -- dep_f.actual_arrival as departure_flight_actual,
   -- arr_f.scheduled_departure as arrival_flight_scheduled_departure,
   -- arr_f.scheduled_arrival as arrival_flight_scheduled_arrival,
   -- arr_f.actual_arrival as arrival_flight_actual,
    ROUND(
    ABS((julianday(arr_f.scheduled_departure) - julianday(arr_f.actual_departure)) * 24*60),1)
    AS question1,
    ROUND(
    ABS((julianday(dep_f.scheduled_arrival) - julianday(dep_f.actual_arrival)) * 24*60),1)
    AS question2,

    ABS(
        ROUND(
            (julianday(arr_f.scheduled_departure)-julianday(dep_f.scheduled_arrival)) -
            (julianday(arr_f.actual_departure)-julianday(dep_f.actual_arrival))*24*60,0
    )
)
    AS question3
    
    FROM turnarounds t 
LEFT JOIN flights dep_f ON t.departure_flight_id = dep_f.id
LEFT JOIN flights arr_f ON t.arrival_flight_id = arr_f.id

+---------------+-----------+-----------+-----------+
| turnaround_id | question1 | question2 | question3 |
+---------------+-----------+-----------+-----------+
| TURN_1        | 15.0      | 15.0      | 120.0     |
+---------------+-----------+-----------+-----------+
| TURN_2        | 15.0      | 15.0      | 120.0     |
+---------------+-----------+-----------+-----------+
| TURN_3        | 2.0       | 15.0      | 107.0     |
+---------------+-----------+-----------+-----------+
| TURN_4        | 90.0      | 15.0      | 135.0     |
+---------------+-----------+-----------+-----------+
| TURN_5        | 0.0       | 12.0      | 582.0     |
+---------------+-----------+-----------+-----------+

5. Afficher les 2 couples compagnie aérienne et aéroport ayant la meilleur ponctualité
(la différence la plus faible entre durée prévue et actuelle).

In [39]:
WITH turnaround_delays AS (
    SELECT 
        a.name as airline,
        ap.iata_code as airport,
        ABS(
            ROUND(
                (julianday(f2.actual_departure) - julianday(f1.actual_arrival)) -
                (julianday(f2.scheduled_departure) - julianday(f1.scheduled_arrival)) 
                * 24 * 60,
                0
            )
        ) as delay_minutes
    FROM turnarounds t
    JOIN flights f1 ON t.arrival_flight_id = f1.id
    JOIN flights f2 ON t.departure_flight_id = f2.id
    JOIN airlines a ON f1.airline_id = a.id
    JOIN airports ap ON f1.arrival_airport_id = ap.id
)
SELECT 
    airline,
    airport,
    AVG(delay_minutes) as avg_delay_minutes
FROM turnaround_delays
GROUP BY airline, airport
ORDER BY avg_delay_minutes ASC
LIMIT 2;

+-----------------+---------+-------------------+
| airline         | airport | avg_delay_minutes |
+-----------------+---------+-------------------+
| British Airways | NCE     | 570.0             |
+-----------------+---------+-------------------+
| Air France      | CDG     | 1139.0            |
+-----------------+---------+-------------------+